.menu-box {
  background-color: rgba(255, 105, 180, 0);
  margin: 0 auto;
  width: 80%;
  a {
    text-decoration: none;
  }
}

.active-btn .box {
  background-color: rgb(36, 183, 219);
}

.box {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  display: inline-block;
  background-color: rgb(184, 184, 184);
  color: white;
}

.form-btn {
}

.list-btn {
}
